@use "./assets/scss/style";

@import "@todovue/tv-alert/style.css";
@import "@todovue/tv-label/style.css";
@import "@todovue/tv-modal/style.css";
@import '@todovue/tv-button/style.css';
@import '@todovue/tv-demo/style.css';
@import '@todovue/tv-hero/style.css';
@import '@todovue/tv-theme-button/style.css';
