@use "./assets/scss/style";

@import "@todovue/tv-alert/style.css";
@import "@todovue/tv-article/style.css";
@import "@todovue/tv-breadcrumbs/style.css";
@import "@todovue/tv-card/style.css";
@import "@todovue/tv-footer/style.css";
@import "@todovue/tv-label/style.css";
@import "@todovue/tv-modal/style.css";
@import "@todovue/tv-button/style.css";
@import "@todovue/tv-demo/style.css";
@import "@todovue/tv-hero/style.css";
@import "@todovue/tv-menu/style.css";
@import "@todovue/tv-pagination/style.css";
@import "@todovue/tv-progress-bar/style.css";
@import "@todovue/tv-scroll-top/style.css";
@import "@todovue/tv-search/style.css";
@import "@todovue/tv-settings/style.css";
@import "@todovue/tv-sidebar/style.css";
@import "@todovue/tv-theme-button/style.css";
@import "@todovue/tv-toc/style.css";

body {
  background: #161E31;
  color: #CBD5E1;
  font-family: "Roboto", sans-serif;
}
